@import './variables.scss';

.app__header {
    height: 3.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.app__header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1rem;
    border-bottom: 1px solid $borderColor;
}

.app__header-logo {
    user-select: none;
}

.app__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app__header-authenticated {
    display: flex;
    align-items: center;
}

.app__header-authenticated > span {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.25rem;
}

.app__header-user {
   width: 2.5rem;
   height: 2.5rem;
}

.app__header-user > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__header-authenticate {
    padding: 0.6rem 0.9375rem;
    border: 1px solid $borderColor;
    border-radius: 0.5rem;
    text-decoration: none;
}

.app__signin {
    color: $blackColor;
    font-weight: 600;
}

.app__header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $blackColor;
    padding: 0.625rem 1rem;
}

.app__header-bottom > img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.app__header-searchbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-right: 10px;
    border-radius: 6px;
    overflow: hidden;
}

.searchIcon {
    width: 45px;
    height: 40px;
    margin-right: 10px;
    background-color: $primaryBackground;
    border-radius: 6px;
}

.searchIcon > img {
    height: 25px;
    width: 25px;
}

.app__header-searchboxInner {
    width: 100%;
    height: 100%;
}

.app__header-searchboxInner > input[type=text] {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 0.9375rem;
}

.app__cartIcon {
    width: 40px;
    height: 40px;
}


// Navbar styles
.app__navbar {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    background-color: white;
    z-index: 10;
    overflow: hidden;
}

.app__navbar-left {
    width: 70%;
    height: 100%;
}

.app__navbar-right {
    width: 30%;
    height: 100%;
    background-color: $borderColor;
    display: flex;
    justify-content: center;
}

.app__navbar-right > div {
    width: 30px;
    height: 30px;
    margin-top: 40px;
}

.app__navbar-right > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app-show {
    display: flex;
}

.app-hide {
    display: none;
}

.app__navbar-logo {
    width: 100%;
    padding: 20px 20px;
}

.app__navbar-logo > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.app__navbar-body > a {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    border-top: 4px solid $borderColor;
    border-bottom: 4px solid $borderColor;
    padding: 30px 20px;
}

.app__navbar-body > a > span:first-child {
    font-size: 1.5rem;
    font-weight: 700;
}

.app__navbar-body > a > span:last-child {
    width: 30px;
    height: 30px;
}

.app__navbar-body > a > span:last-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__navbar-categoryList {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-bottom: 4px solid $borderColor;
}

.app__navbar-categoryList > h2 {
    padding: 15px 0;
}

.app__navbar-category {
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.app__navbar-trendingList {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.app__navbar-trendingList > h2 {
    padding: 15px 0;
}

.app__navbar-trending {
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.app__navbar-account {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-top: 4px solid $borderColor;
}

.app__navbar-account > h2 {
    padding-bottom: 10px;
}

.app__navbar-account > a {
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}